<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.psh.mybook.mapper.BookMapper">
  
	<!-- 책 등록 -->
  	<insert id="enrollBook">

		<!-- insert 문이 실행된 후에 selectKey 실행
		쿼리문의 결과값이 Book의 bookId에 int 타입으로 반환된다.
		 마지막으로 insert 된 id를 반환.-->
		<selectKey resultType="int" keyProperty="bookId" order="AFTER">

			SELECT LAST_INSERT_ID()

		</selectKey>

		insert into book(bookname, author, isbn, bookPrice, bookDiscount, bookCount)
  		values(#{bookName}, #{author}, #{isbn}, #{bookPrice}, #{bookDiscount}, #{bookCount})
  	</insert>

	<!-- 책 등록 중복검사 -->
	<select id="isExistBookId" parameterType="com.psh.mybook.model.book.BookEnrollParam" resultType="boolean">
		select EXISTS
		(select bookId from book where bookId = #{bookId})
	</select>

	<!-- 책 정보 조회	-->
	<select id="getBooksInfo" resultType="com.psh.mybook.model.book.Book">
		select * from book where bookId = #{bookId}
	</select>
	<!-- 책 정보 업데이트	-->
	<update id="bookUpdate">
		update book set bookName = #{bookName}, author = #{author}, bookPrice=#{bookPrice}, bookCount = #{bookCount}, bookDiscount=#{bookDiscount} where bookId = #{bookId}
	</update>

	<!-- 책 등록 삭제	-->
	<delete id="bookDelete">
		delete from book where bookId = #{bookId}
	</delete>

	<select id="getBookNameById" resultType="com.psh.mybook.model.book.Book">

		select bookId, bookName from book
		where bookId = #{bookId}


	</select>

	<!-- criteria(검색조건) -->
	<sql id="criteria">
		<if test="keyword != null">
			where (bookName like concat ('%', #{keyword}, '%'))
		</if>
	</sql>

	<!-- 상품 검색 (+페이징) -->
	<select id="getBookList" resultType="com.psh.mybook.model.book.Book">

		select  bookId, bookName, author, isbn, bookPrice, bookCount, bookDiscount
		from book
		<include refid="criteria"></include>
		order by bookId
		desc limit #{skip}, #{amount}

	</select>

	<!-- 상품 총 개수 -->
	<select id="getBookTotal" resultType="int">

		select count(*) from book

		<include refid="criteria"></include>

	</select>


  	
  </mapper>