<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.psh.mybook.mapper.MemberMapper">
  
	<!-- 회원가입 -->  
  	<insert id="memberJoin">
  		insert into member
  		values(#{memberId}, #{password}, #{name}, #{email}, #{address}, 0, sysdate(), 100000, 5000)
  	</insert>
  	
  	<!-- 아이디 중복검사 -->
  	<select id="isExistMemberId" resultType="boolean">
		select exists
		    (select memberId from member where memberId = #{memberId})
  	</select>

  	<!-- 로그인 -->
  	<select id="memberLogin" resultType="com.psh.mybook.model.member.Member">
  		select memberId, password, name, adminck, money, point from member where memberId = #{memberId}
  	</select>

	<!-- 회원 정보 업데이트 -->
	<update id="memberUpdate" parameterType="com.psh.mybook.model.member.Member">
		update member set password = #{password}, email = #{email}, address =#{address} where memberId = #{memberId}
	</update>
	<!-- 회원 삭제 -->
	<delete id="memberDelete" parameterType="com.psh.mybook.model.member.Member">
		delete from member where memberId = #{memberId}
	</delete>

	<!-- 회원 정보 -->
	<select id="getMemberInfo" resultType="com.psh.mybook.model.member.Member">
		select memberId, password, name, adminCk, money, point from member where memberId = #{memberId}
	</select>



</mapper>